<!-- wp:template-part {"slug":"header-transparent","theme":"daedalus","area":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","fontSize":"x-large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"daedalus","tagName":"footer","area":"footer"} /-->

<!-- wp:template-part {"slug":"mobile-call-now-cta","theme":"daedalus","area":"uncategorized"} /-->
