/* Mobile Menu Styles */

/* Hide submenu items on mobile menu */
.wp-block-navigation-item.open-on-hover-click .wp-block-navigation-submenu__toggle[aria-expanded="false"] ~ ul.wp-block-navigation__submenu-container {
    display: none;
}

/* Show chevron on mobile */
button.wp-block-navigation__submenu-icon, button.wp-block-navigation-submenu__toggle {
    display: block !important;
}

li.open-on-hover-click, li.wp-block-navigation-submenu {
    flex-direction: row !important;
}

/* reduce width of modal */
.wp-block-navigation__responsive-container {
    max-width: 500px;
    margin-left: auto !important;
    z-index: 1000;
}

/* opacity layer styles */
.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    opacity: .5;
    display: flex;
}